@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";

@import 'header';
@import 'footer';
@import 'edit';
@import 'index';
@import 'show';
@import 'create';

main {
    height: calc(100vh - 100px);
    overflow-y: auto;
}
#jumbo {
    background-image: url('../images/image-1.png');
    height: 100px;
    background-size: cover;
    /* Ensures the image covers the entire container */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
}
#jumbo-b {
    background-image: url('../images/image-2.png');
height: 600px;
    background-size: cover;
    /* Ensures the image covers the entire container */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
}
