.custom-style {
    .bg-giallo {
        background-color: #FFD700;
        border-radius: 5px;
    }

    .btn-dark {
        background-color: #343a40;
        color: #fff;
        border: none;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: #23272b;
            color: #fff;
        }
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;

        &:hover {
            background-color: #0056b3;
        }
    }

    .btn-warning {
        background-color: #FFC107;
        color: #212529;
        border: none;

        &:hover {
            background-color: #e0a800;
        }
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
        border: none;

        &:hover {
            background-color: #c82333;
        }
    }

    .table-responsive-custom {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .table {
        th, td {
            vertical-align: middle;
        }

        .table-dark {
            background-color: #343a40;
            color: #ffffff;
        }
    }

    h2 {
        color: #343a40;
    }

    .form-control {
        border: 1px solid #ddd;
        border-radius: 5px;

        &:focus {
            border-color: #FFD700;
            box-shadow: 0 0 0 0.2rem rgba(255, 215, 0, 0.25);
        }
    }
}